// Typography
// -------------------------
$font-default: "Roboto", Arial, sans-serif;

// Colors
// -------------------------
$color-first-0: #ffffff !default;
$color-first-25: #FAFAFA !default;
$color-first-50: #F5F5F5 !default;
$color-first-60: #EEEEEE !default;
$color-first-75: #E0E0E0 !default;
$color-first-100: #BDBDBD !default;
$color-first-150: #757575 !default;
$color-first-200: #616161 !default;
$color-first-900: #000000 !default;

$color-second-100: #FFF3E0 !default;
$color-second-150: #FFE0B2 !default;
$color-second-200: #FFCC80 !default;
$color-second-250: #FFB74D !default;
$color-second-300: #FFA726 !default;
$color-second-400: #FB8C00 !default;
$color-second-450: #F57C00 !default;
$color-second-550: #FF6D00 !default;

$color-third-100: #EFEBE9 !default;
$color-third-200: #D7CCC8 !default;
$color-third-225: #BCAAA4 !default;
$color-third-250: #A1887F !default;
$color-third-275: #8D6E63 !default;
$color-third-350: #6D4C41 !default;
$color-third-300: #5D4037 !default;
$color-third-400: #4E342E !default;
$color-third-500: #3E2723 !default;
